* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-top: 40px;
}

.container,
.wrapper {
    width: 600px;
    background-color: white;
    padding: 1em 2em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.container {
    align-items: center;
}

img {
    width: 80%;
    height: auto;
}

h1 {
    color: rgb(2, 145, 150);
    font-size: 36px;
}

h2, h3 {
    color: rgb(2, 145, 150);
}

ul {
    list-style-type: none;
}

.wrapper ul {
    list-style-type: square;
}

li{
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: rgb(109, 108, 108);
    font-size: 18px;
    padding: 5px 10px;
}

.wrapper a {
    text-align: center;
}

a:hover {
    background-color: rgb(142, 142, 142);
    color: white;
    border-radius: 3px;
}